<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- ===================== ObjectifyFilter ===================== -->
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- ===================== AppUserService ===================== -->
	<servlet>
		<servlet-name>appUserService</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.service.AppUserServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>appUserService</servlet-name>
		<url-pattern>/javaleague/appUserService</url-pattern>
	</servlet-mapping>

	<!-- ===================== FrameWorkService ===================== -->
	<servlet>
		<servlet-name>frameWorkService</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.service.FrameWorkServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>frameWorkService</servlet-name>
		<url-pattern>/javaleague/frameWorkService</url-pattern>
	</servlet-mapping>

	<!-- ===================== LeagueService ===================== -->
	<servlet>
		<servlet-name>leagueService</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.service.LeagueServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>leagueService</servlet-name>
		<url-pattern>/javaleague/leagueService</url-pattern>
	</servlet-mapping>

	<!-- ===================== TacticUserService ===================== -->
	<servlet>
		<servlet-name>tacticUserService</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.service.TacticUserServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>tacticUserService</servlet-name>
		<url-pattern>/javaleague/tacticUserService</url-pattern>
	</servlet-mapping>

	<!-- ===================== matchFriendlyService ===================== -->
	<servlet>
		<servlet-name>matchFriendlyService</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.service.MatchFriendlyServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>matchFriendlyService</servlet-name>
		<url-pattern>/javaleague/matchFriendlyService</url-pattern>
	</servlet-mapping>

	<!-- ===================== AuthenticateUser Servlet ===================== -->
	<servlet>
		<servlet-name>AuthenticateUser</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.AuthenticateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticateUser</servlet-name>
		<url-pattern>/authenticateUser</url-pattern>
	</servlet-mapping>

	<!-- ===================== UploadBlob Servlet ===================== -->
	<servlet>
		<servlet-name>UploadBlob</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.UploadBlobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadBlob</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<!-- ===================== AuthUsers Servlet ===================== -->
	<servlet>
		<servlet-name>authUsers</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.AuthUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authUsers</servlet-name>
		<url-pattern>/cron/authUsers</url-pattern>
	</servlet-mapping>
	
	<!-- ===================== DispatchMatchs Servlet ===================== -->
	<servlet>
		<servlet-name>dispatchMatchs</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.DispatchMatchsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatchMatchs</servlet-name>
		<url-pattern>/cron/dispatchMatchs</url-pattern>
	</servlet-mapping>

	<!-- ===================== ManageFrameWork Servlet ===================== -->
	<servlet>
		<servlet-name>ManageFrameWork</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.ManageFrameWorkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageFrameWork</servlet-name>
		<url-pattern>/cron/manageFrameWork</url-pattern>
	</servlet-mapping>

	<!-- ===================== ManageLeague Servlet ===================== -->
	<servlet>
		<servlet-name>ManageLeague</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.ManageLeagueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageLeague</servlet-name>
		<url-pattern>/cron/manageLeague</url-pattern>
	</servlet-mapping>

	<!-- ===================== Play Friendly Match Servlet ===================== -->
	<servlet>
		<servlet-name>playMatchFriendly</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.PlayMatchFriendlyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>playMatchFriendly</servlet-name>
		<url-pattern>/playMatchFriendly</url-pattern>
	</servlet-mapping>
	
	<!-- ===================== Play League Match Servlet ===================== -->
	<servlet>
		<servlet-name>playMatchLeague</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.PlayMatchLeagueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>playMatchLeague</servlet-name>
		<url-pattern>/playMatchLeague</url-pattern>
	</servlet-mapping>

	<!-- ===================== Serve Bin Friendly Match Servlet ===================== -->
	<servlet>
		<servlet-name>serveFriendlyBin</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.ServeFriendlyBinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serveFriendlyBin</servlet-name>
		<url-pattern>/serveFriendlyBin</url-pattern>
	</servlet-mapping>

	<!-- ===================== Serve Friendly Match Servlet ===================== -->
	<servlet>
		<servlet-name>serveFriendly</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.ServeFriendlyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serveFriendly</servlet-name>
		<url-pattern>/serveFriendly</url-pattern>
	</servlet-mapping>

	<!-- ===================== Time Tactic Match Servlet ===================== -->
	<servlet>
		<servlet-name>timeTacticMatch</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.TimeTacticMatchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>timeTacticMatch</servlet-name>
		<url-pattern>/timeTacticMatch</url-pattern>
	</servlet-mapping>

	<!-- ===================== Serve Error Servlet ===================== -->
	<servlet>
		<servlet-name>serveError</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.ServeErrorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serveError</servlet-name>
		<url-pattern>/serveError</url-pattern>
	</servlet-mapping>

	<!-- ===================== Image Servlet ===================== -->
	<servlet>
		<servlet-name>image</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>image</servlet-name>
		<url-pattern>/imageTransform</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>javaleague.html</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value />
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

</web-app>